/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.container{
  min-width: 60%;
  min-height: 70%;
  margin: 50px;
  }

html, body {
  position: relative;
  top: 0; 
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fafafa;
}

.removefundo {
  .mat-form-field-underline{
      background: none !important;
  }

  
}

app-person-form-dialog {
  mat-card-content{
    height: auto;
    min-height: auto;
    overflow: auto !important;
    margin: 0px !important;
  }

  .mat-dialog-actions {
    padding: 8px 88px !important;
  }
}

.mat-dialog-container {
  padding: 0px !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #ececec;
}