<div fxLayout="row" fxLayoutAlign="center center" class="content espaco-footer">
  <mat-card class="card">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <h3>Contatos</h3>
      
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="dateBirth">
            <mat-header-cell *matHeaderCellDef> Data de Aniversário </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dateBirth  | date: 'd/M/y'}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="update">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
              
                <button mat-button mat-mini-fab (click)="editPerson(element)"
               > <mat-icon class="icon">edit</mat-icon></button>
              
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element">
              
                    <button mat-button mat-mini-fab color="warn" (click)="deletePerson(element)"> <mat-icon class="icon">delete</mat-icon></button>
              
              </mat-cell>
            </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<mat-sidenav-container
    class="example-container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">
  <mat-sidenav #sidenavPersonForm (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">Toggle</button></p>
  </mat-sidenav>

  <mat-sidenav-content>
      <router-outlet name="list"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
