<div fxLayout="row" fxLayoutAlign="center center" class="content espaco-footer">
  <mat-card class="card">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <h3>Contatos</h3>
    </mat-card-title>
    <mat-card-content>
      <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="Id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Id }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Name }} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="DateBirth">
            <mat-header-cell *matHeaderCellDef> Data de Aniversário </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.DateBirth  | date: 'd/M/y'}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a type="button">
                <mat-icon class="icon">delete</mat-icon>
              </a>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>