

  <mat-card class="card">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <h3 mat-dialog-title>{{data.descriptionRegister}} de Pessoa</h3>

    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content mat-dialog-content>
      <app-person-form [person]="person" [type]="data.type"></app-person-form>

    </mat-card-content>
  </mat-card>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" >Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data.animal" cdkFocusInitial>Salvar</button>
  </div>